/* === RESET SETTINGS === */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f2f2f2;
    font-family: "Lato", sans-serif;
}

/* === LOGO and NAVIGATION === */
.header {
    height: 100vh;
}
.head-navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .75rem 0;
    background-color: #232323;
    position: fixed;
    z-index: 4;
}
.navmenu {
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-item {
    padding-left: 1.8rem;
}
.brand-logo {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: .12rem;
}
.logo, .navlink {
    display: inline-block;
    color: #f2f2f2;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .075rem;
    transition: 0.15s ease-in-out;
    position: relative;
}
.navlink::after {
    content: "";
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 0;
    height: .12rem;
    background-color: #f2f2f2;
    transition: 0.15s ease-in-out;
}
.navlink:hover:after {
    width: 100%;    
}
.open-slidenav, .close-slidenav {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-slidenav {
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
}
.close-slidenav {
    top: 1.25rem;
    right: 1.5rem;
}
#slidenav-active {
    display: none;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .nav-item {
        padding-left: 1rem;
    }
    .brand-logo {
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: .12rem;
        margin-left: 3rem;
    }        
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .head-navbar {
        padding: 1.45rem 0;
    }
    .navmenu {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: 2rem;
        width: 40%;
        height: 100vh;
        position: fixed;
        top: -1.5rem;
        right: -100%;
        z-index: 5;
        transition: all 0.5s ease-in-out;
        background-color: #232323;
        box-shadow: -6px 6px 3px rgba(35, 35, 35, 0.25);
    }
    .nav-item {
        padding: 1rem 0;
    }
    .navlink {
        padding: .5rem 0;
    }
    .open-slidenav, .close-slidenav {
        display: block;
    }
    #slidenav-active:checked ~ .brand-logo {
        position: relative;
        left: -4rem;
    }
    #slidenav-active:checked ~ nav .navmenu {
        right: 0;
    }
    #slidenav-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
    }    
}

@media (max-width: 767.98px) {
    .head-navbar {
        padding: 1.45rem 0;        
    }
    .navmenu {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: 2rem;
        width: 40%;
        height: 100vh;
        position: fixed;
        top: -1.5rem;
        right: -100%;
        z-index: 5;
        transition: all 0.5s ease-in-out;
        background-color: #232323;
        box-shadow: -6px 6px 3px rgba(35, 35, 35, 0.25);
    }
    .nav-item {
        padding: 1rem 0;
    }
    .navlink {
        padding: .5rem 0;
    }
    .open-slidenav, .close-slidenav {
        display: block;
    }
    #slidenav-active:checked ~ .brand-logo {
        position: relative;
        left: -3rem;
    }
    #slidenav-active:checked ~ nav .navmenu {
        right: 0;
    }
    #slidenav-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
    }
}
/* === End LOGO and NAVIGATION === */

/* === HERO Section === */
.hero-bg {
    background-image: url(/images/hero.jpg);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    opacity: .4;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}
.hero-container {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background: linear-gradient(135deg,  rgba(240,249,255,.2) 0%,rgba(203,235,255,.2) 47%,rgba(161,219,255,.2) 100%);
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 14rem;
}
#hero-img {
    order: 2;
}
.hero-text {
    font-family: "Poppins", serif;
    color: #545555;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}
.profile-pic {
    height: 32vh;
    width: 18vw;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 5px #545555;
    opacity: .7;
}
.hero-text h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .1rem;
    text-transform: capitalize;
}
.hero-text h2 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .12rem;
    text-transform: capitalize;
    margin-top: -2rem;
}
.hero-text p {
    font-size: 1.8rem;
    font-weight: 500;
    margin: -.6rem 0 2.6rem 0;
}
.drop-pin {
    display: flex;
}
.hero-text .cta {
    width: .4rem .8rem;
    display: flex;
    align-items: center;
}
.hero-text .cta .button {
    text-decoration: none;
    padding: .6rem 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #8eb4d4;
    color: #232323;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: -3px 3px 5px 1px #545555;
    opacity: .7;
}
.hero-text .cta .button:hover {
    background-color: #385772;
    color: #f2f2f2;
    box-shadow: 0px 0px 0px 0px #385772;
}

@media (min-width:  992px) and (max-width: 1399.98px) {
    .hero-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
    }
    .profile-pic {
        height: 32vh;
        width: 24vw;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .profile-pic {
        margin-top: 2rem;
        height: 34vh;
        width: 32vw;
    }
    .hero-text h1 {
        font-size: 2.8rem;
    }
    .hero-text h2 {
        font-size: 1.8rem;
        margin-top: -1.8rem;
    }
    .hero-text p {
        font-size: 1.6rem;
        margin: -.4rem 0 2rem 0;
    }
    .drop-pin svg {
        height: 2rem;
    }
}

@media (min-width: 577px) and (max-width: 767.98px) {
    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .profile-pic {
        margin-top: 2rem;
        height: 30vh;
        width: 40vw;
    }
    .hero-text h1 {
        font-size: 2.4rem;
    }
    .hero-text h2 {
        font-size: 1.4rem;
        margin-top: -1.6rem;
    }
    .hero-text p {
        font-size: 1.4rem;
        margin: -.2rem 0 2rem 0;
    }
    .drop-pin svg {
        height: 1.9rem;
    }
    .hero-text .cta {
        width: .6rem 1rem;
    }
    .hero-text .cta .button {
        font-size: 1.3rem;
    }
}

@media (max-width: 576px) {
    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    #hero-img {
        order: 2;
    }
    .profile-pic {
        margin-top: 2rem;
        height: 24vh;
        width: 44vw;
    }
    .hero-text h1 {
        font-size: 2.2rem;
    }
    .hero-text h2 {
        font-size: 1.2rem;
        margin-top: -1.4rem;
    }
    .hero-text p {
        font-size: 1.3rem;
        margin: 0 0 2rem 0;
    }
    .drop-pin svg {
        height: 1.8rem;
        width: 2rem;
    }
    .hero-text .cta {
        width: .2rem .6rem;
    }
    .hero-text .cta .button {
        font-size: 1.2rem;
    }
}
/* === End HERO Section === */

/* === TITLES Section === */
.title-bg {
    max-width: 80rem;
    height: 16rem;
    margin: 0 auto;
    text-align: center;
}
.title-about, .title-skills, .title-works, .title-resume, .title-contact {
    font-family: "Raleway", serif;
    font-size: 10rem;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    top: 60px;
    opacity: .04;
}
.myintro, .skills-intro, .portfolio, .resume-intro, .contact-intro {
    font-family: "Poppins", serif;
    height: 6.8rem;
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -154px;
}
.myintro span, .skills-intro span, .portfolio span, .resume-intro span, .contact-intro span {
    padding-top: .8rem;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .6rem;
}
.aboutme, .myskills, .myprojects, .myresume, .contactme {
    font-size: 2.2rem;
    text-transform: capitalize;
    letter-spacing: .16rem;
    margin-bottom: .5rem;
}
.title-line {
    width: 100px;
    margin: 5px auto;
    border: 2px solid #232323;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .title-about, .title-skills, .title-works, .title-resume, .title-contact {
        font-size: 8rem;
        top: 90px;
    }
    .myintro, .skills-intro, .portfolio, .resume-intro, .contact-intro {
        top: -136px;
    }
    .myintro span, .skills-intro span, .portfolio span, .resume-intro span, .contact-intro span {
        font-size: .6rem;
        letter-spacing: .6rem;
    }
    .aboutme, .myskills, .myprojects, .myresume, .contactme {
        font-size: 1.8rem;
        letter-spacing: .16rem;
        margin-bottom: .5rem;
    }
}

@media (max-width: 767.98px) {
    .title-about, .title-skills, .title-works, .title-resume, .title-contact {
        font-size: 5.6rem;
        top: 100px;
    }
    .myintro, .skills-intro, .portfolio, .resume-intro, .contact-intro {
        position: relative;
        top: -154px;
    }
    .myintro span, .skills-intro span, .portfolio span, .resume-intro span, .contact-intro span {
        font-size: .6rem;
        letter-spacing: .6rem;
    }
    .aboutme, .myskills, .myprojects, .myresume, .contactme {
        font-size: 1.6rem;
        letter-spacing: .16rem;
        margin-bottom: .5rem;
    }
}
/* === End TITLES Section === */

/* === ABOUT Section === */
.about {
    height: 105vh;
}
.about-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 .5rem;
    position: relative;
    top: -6rem;
}
.about-skills {
    max-width: 70rem;
}
.about-content {
    width: 100%;
}
.subtitle, .hello {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
}
.about-description {
    font-size: 1rem;
    letter-spacing: .1rem;
    line-height: 1.6rem;
    text-align: justify;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .about {
        height: 109vh;
    }
    .about-container {
        top: -6rem;
    }
    .about-skills {
        max-width: 60rem;
    }
    .subtitle, .hello {
        font-size: 1.4rem;
    }
    .about-description {
        font-size: .96rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .about {
        height: 115vh;
    }
    .about-container {
        top: -6rem;
    }
    .about-skills {
        max-width: 45rem;
    }
    .subtitle, .hello {
        font-size: 1.2rem;
    }    
    .about-description {
        font-size: .9rem;
    }    
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .about {
        height: 123vh;        
    }
    .about-container {
        top: -8rem;
    }
    .about-skills {
        max-width: 35rem;
    }
    .subtitle, .hello {
        font-size: 1.2rem;
    }
    .about-description {
        font-size: .9rem;
    }
}

@media (max-width: 575.98px) {
    .about {
        height: 138vh;        
    }
    .about-container {
        top: -8rem;
    }
    .about-skills {
        max-width: 26rem;
    }
    .subtitle, .hello {
        font-size: .9rem;
    }
    .about-description {
        font-size: .8rem;
    }
}
/* === End ABOUT Section === */

/* === SLIDE ANIMATION === */
.icons-slider {
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 70rem;
    background-color: #8eb4d4;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    top: -4rem;
}
.icons-slider::before, .icons-slider::after {
    width: 2.5rem;
    height: 100%;
    position: absolute;
    top: 0;
    content: "";
    z-index: 2;
}
.icons-slider::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #073597);
}
.icons-slider::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #073597);
}
.icons-slider:hover .icons {
    animation-play-state: paused;
}
.icons { 
    display: inline-block;
    animation: 25s slide infinite linear;
}
.icons .slides {
    height: 4rem;
    margin: 0 3rem;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .icons-slider {
        max-width: 60rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .icons-slider {
        max-width: 45rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .icons-slider {
        max-width: 35rem;
        margin-top: -2rem;
    }
}

@media (max-width: 575.98px) {
    .icons-slider {
        max-width: 26rem;        
        margin-top: -2rem;
    }
}
/* === End SLIDE ANIMATION === */

/* === PARALLAX BACKGROUND === */
.parallax-bg {
    background-image: url(/images/laptop.jpg);
    height: 85vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    opacity: .6;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}
/* === End PARALLAX BACKGROUND === */

/* === DIVIDER BACKGROUMD === */
.divider-bg {
    background-image: url(/images/desk.jpg);
    height: 85vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    opacity: .6;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}
/* === End DIVIDER BACKGROUMD === */

/* === SKILLS Section === */
.skills {
    height: 100vh;
}
.skills-info {
    max-width: 80rem;
    margin: auto;
    position: relative;
    top: -6rem;
}
.skills-heading {
    width: 100%;
    margin: 2rem auto;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: .08rem;
}
.skills-container {
    width: 100%;
    height: 40vh;
    margin: 0 auto;
    display: flex;
}
.skills-col {
    width: 100%;
    padding: 0 2rem;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: .12rem;
}
.skill-html {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: .4rem;    
}
.skill-css, .skill-figma, .skill-wordpress, .skill-github {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-bottom: .4rem;    
}
.skill-bootstrap, .skill-xd, .skill-vscode {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: .4rem;    
}
.html-bar, .css-bar, .bootstrap-bar, .figma-bar, .xd-bar, .wordpress-bar, .vscode-bar {
    width: 100%;
    height: 10%;
    margin-bottom: 2rem;
    position: relative;
    background-color: #000957;
}
.html-bar::before {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    content: "";
    z-index: 2;
    background-color: #577BC1;
}
.css-bar::before, .figma-bar::before, .wordpress-bar::before {
    width: 85%;
    height: 100%;
    position: absolute;
    top: 0;
    content: "";
    z-index: 2;
    background-color: #577BC1;
}
.bootstrap-bar::before, .xd-bar::before, .vscode-bar::before {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    content: "";
    z-index: 2;
    background-color: #577BC1;
}
.more-skills {
    width: 100%;
    margin: 3rem auto;
    text-align: center;
}
.btn {
    margin-top: 1rem;
    border: none;
}
.btn .getintouch, .moretocome {
    padding: .8rem 1.4rem;
    background-color: #000957;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    color: #f2f2f2;
    letter-spacing: .1rem;
}
.btn .getintouch:hover {
    background-color: #577BC1;
    color: #000957;
    box-shadow: -3px 3px 5px 3px #385772;
}

@media (min-width: 1130px) and (max-width: 1299.98px) {
    .skills-info {
        max-width: 70rem;
    }
}

@media (min-width: 992px) and (max-width: 1129.98px) {
    .skills-info {
        max-width: 60rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .skills-info {
        max-width: 50rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .skills {
        height: 126vh;
    }
    .skills-info {
        max-width: 40rem;
        top: -8rem;
    }
    .skills-heading {
        font-size: 1rem;
    }
    .skills-container {
        flex-direction: column;
    }
    .skills-col {
        margin-bottom: 7.2rem;
    }
    .more-skills {
        margin: 20rem auto;        
    }
}

@media (max-width: 575.98px) {
    .skills {
        height: 126vh;
    }
    .skills-info {
        max-width: 33rem;
        top: -8rem;
    }
    .skills-heading {
        font-size: 1rem;
    }
    .skills-container {
        flex-direction: column;
    }
    .skills-col {
        margin-bottom: 7.2rem;
    }
    .more-skills {
        margin: 20rem auto;        
    }
}
/* === End SKILLS Section === */

/* === PROJECTS Section === */
.projects {
    height: 100vh;
    background-color: #ececec;
}
.projects-container {
    max-width: 80rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    grid-auto-rows: 28rem;
    gap: 2rem;
}
.project img {
    height: 16rem;
    max-width: 100%;
}
.content {
    background-color: #ffffff;
    height: 12rem;
    margin: 0;
    padding: 1rem;
    font-weight: 700;
    font-family: 'Raleway', serif;
    text-align: center;
    position: relative;
    top: -.2rem;
}
.content p {
    font-weight: 500;
    padding-bottom: 1rem;
}
.content p.agency {
    padding-bottom: 2.2rem;
}
.content .btn {
    padding: .8rem 1rem;
    background-color: #000957;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 700;
    color: #f2f2f2;
    letter-spacing: .1rem;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .projects-container {
        max-width: 70rem;
    }
    .project img {
        height: 15rem;
    }
    .content {
        height: 11rem;
    }
    .content h3 {
        font-size: 1rem;
    }
    .content p {
        font-size: .8rem;
    }
    .content .btn {
        font-size: .6rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .projects-container {
        max-width: 60rem;
    }
    .project img {
        height: 14rem;
    }
    .content {
        height: 11rem;
    }
    .content h3 {
        font-size: 1rem;
    }
    .content p {
        font-size: .73rem;
    }
    .content .btn {
        font-size: .6rem;
    }
}

@media (min-width: 820px) and (max-width: 991.98px) {
    .projects-container {
        max-width: 50rem;
    }
    .project img {
        height: 11rem;
    }
    .content {
        height: 11rem;
    }
    .content h3 {
        font-size: .9rem;
    }
    .content p {
        font-size: .73rem;
    }
    .content p.agency, p.pricing {
        padding-bottom: 1.8rem;
    }
    .content .btn {
        font-size: .6rem;
    }
}

@media (min-width: 768px) and (max-width: 819.98px) {
    .projects {
        height: 140vh;
    }
    .projects-container {
        max-width: 46rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 23rem;
    }
    .project img {
        height: 10.5rem;
        width: 100%;
    }
    .content {
        height: 11rem;
    }
    .content h3 {
        font-size: .9rem;
    }
    .content p {
        font-size: .73rem;
    }
    .content p.agency {
        padding-bottom: 1.8rem;
    }
    .content .btn {
        font-size: .6rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .projects {
        height: 180vh;
    }
     .projects-container {
        max-width: 26rem;
        display: flex;
        flex-direction: column;
    }
    .project img {
        height: 12rem;
        width: 100%;
    }
    .content {
        height: 11rem;
    }
    .content h3 {
        font-size: .9rem;
    }
    .content p {
        font-size: .73rem;
    }
    .content p.agency, p.pricing {
        padding-bottom: 1.8rem;
    }
    .content .btn {
        font-size: .6rem;
    }
}

@media (min-width: 480px) and (max-width: 575.98px) {
    .projects {
        height: 180vh;
    }
     .projects-container {
        max-width: 20rem;
        display: flex;
        flex-direction: column;
    }
    .project img {
        height: 12rem;
        width: 100%;
    }
    .content {
        height: 11rem;
    }
    .content h3 {
        font-size: .9rem;
    }
    .content p {
        font-size: .73rem;
    }
    .content p.agency, p.pricing {
        padding-bottom: 1.8rem;
    }
    .content .btn {
        font-size: .6rem;
    }
}

/* === End PROJECTS Section === */

/* === RESUME Section === */
.resume-container {
    width: 80%;
    margin: auto;
    position: relative;
    top: -5rem;
}
.resume-contents {
    width: 100%;
    margin: auto;
}
.resume-row {
    width: 100%;
    display: flex;
}
.education-col {
    flex: 50%;
    margin-right: 3rem;
}
.jobs-col {
    flex: 50%;
    margin-left: 3rem;
}
.education-list, .experience-list {
    margin: 0;
    padding-left: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: #f2f2f2;
    line-height: 3.5rem;
    text-transform: capitalize;
    background-color: #000957;
}
.schools, .jobs {
    padding-left: 1rem;
}
.course, .job-list {
    list-style: none;
}
.schools .course span {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #000957;
}
.schools .course .course-info {
    text-align: justify;
    line-height: 1.4rem;
    margin-top: .3rem;
}
.jobs .job-list {
    font-size: 1.1rem;
    letter-spacing: .03rem;
}
.jobs .job-list h3 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #000957;
}
.jobs li:nth-child(2), .jobs li:last-child {
    margin-top: -.2rem;
}
.jobs .job-list .company {
    margin-top: -1rem;
    font-weight: 500;
    color: #000957;
}
.jobs .job-list ul {
    margin-top: -.8rem;
    padding-left: 1.4rem;
}
.jobs .job-list .job-description {
    padding-bottom: .5rem;
    list-style-type: disc;
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: justify;
}
.more-resume {
    width: 80%;
    margin: -3rem auto;
    text-align: center;
}
.btn {
    margin-top: 1rem;
    border: none;
}
.btn .download {
    padding: .8rem 1.4rem;
    background-color: #000957;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    color: #f2f2f2;
    letter-spacing: .1rem;
}
.btn .download:hover {
    background-color: #577BC1;
    color: #000957;
    box-shadow: -3px 3px 5px 3px #385772;
}

@media (min-width: 1300px) and (max-width: 1399.98px) {
    .resume-container {
        width: 88%;
    }
    .education-list, .experience-list {
        font-size: 1.4rem;
    }
    .schools .course span, .jobs .job-list h3 {
        font-size: 1.1rem;
    }
    .jobs .job-list h3 {
        line-height: 1.8rem;        
    }
    .btn .download {
        font-size: 1rem;
    }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
    .resume-container {
        width: 90%;
    }
    .education-list, .experience-list {
        font-size: 1.3rem;
    }    
    .schools .course span {
        font-size: 1rem;
        line-height: 1.6rem;
    }    
    .jobs .job-list h3 {
        font-size: 1rem;
        line-height: 1.8rem;        
    }    
    .jobs .job-list .company {
        font-size: .98rem;
        line-height: 1.5rem;
        color: #000957;
    }
    .schools .course .course-info, .jobs .job-list .job-description {
        font-size: .9rem;
    }
    .btn .download {
        font-size: .9rem;
        font-weight: 700;
    }
}

@media (min-width: 820px) and (max-width: 991.98px) {
    .resume-container {
        width: 90%;
    }
    .education-list, .experience-list {
        font-size: 1.25rem;
    }
    .schools .course span{
        font-size: .95rem;
        line-height: 1.5rem;
    }
    .jobs .job-list h3 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .jobs .job-list .company {
        font-size: .95rem;
        line-height: 1.3rem;
    }
    .schools .course .course-info, .jobs .job-list .job-description {
        font-size: .90rem;
    }
    .btn .download {
        font-size: .9rem;
        font-weight: 700;
    }
}

@media (min-width: 768px) and (max-width: 819.98px) {
    .resume-container {
        width: 90%;
    }
    .education-list, .experience-list {
        font-size: 1.2rem;
    }
    .schools .course span{
        font-size: .90rem;
        line-height: 1.4rem;
    }
    .jobs .job-list h3 {
        font-size: .90rem;
        line-height: 1.4rem;        
    }
    .jobs .job-list .company {
        font-size: .90rem;
        line-height: 1.4rem;
    }
    .schools .course .course-info, .jobs .job-list .job-description {
        font-size: .85rem;
    }
    .btn .download {
        font-size: .9rem;
        font-weight: 700;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .resume-container {
        width: 80%;
    }
    .resume-row {
        width: 100%;
        display: inline-block;
    }
    .education-col {
        margin-right: 0;
    }
    .education-list, .experience-list {
        font-size: 1.2rem;
    }
    .schools .course span{
        font-size: 1rem;
        line-height: 1rem;
    }
    .schools .course .course-info {
        font-size: .9rem;
        line-height: 1.3rem;
    }
    .jobs-col {
        margin-left: 0;
    }
    .jobs .job-list h3 {
        font-size: 1rem;
        line-height: 1rem;        
    }
    .jobs .job-list .company {
        font-size: 1rem;
        line-height: 1.4rem;
    }
    .jobs .job-list .job-description {
        font-size: .9rem;
        line-height: 1.2rem;
    }
    .more-resume {
        margin-bottom: 1rem;
    }
    .btn .download {
        font-size: .9rem;
        font-weight: 700;
    }
}

@media (min-width: 480px) and (max-width: 575.98px) {
    .resume-container {
        width: 90%;
    }
    .resume-row {
        width: 100%;
        display: inline-block;
    }
    .education-col {
        margin-right: 0;
    }
    .education-list, .experience-list {
        font-size: 1.1rem;
    }
    .schools .course span{
        font-size: 1rem;
        line-height: 1rem;
    }
    .schools .course .course-info {
        font-size: .9rem;
        line-height: 1.3rem;
    }
    .jobs-col {
        margin-left: 0;
    }
    .jobs .job-list h3 {
        font-size: 1.1rem;
        line-height: 1.3rem;        
    }
    .jobs .job-list .company {
        font-size: .9rem;
        line-height: 1.4rem;
    }
    .jobs .job-list .job-description {
        font-size: .9rem;
        line-height: 1.2rem;
    }
    .more-resume {
        margin-bottom: 1rem;
    }
    .btn .download {
        font-size: .9rem;
        font-weight: 700;
    }
}
/* === End RESUME Section === */

/* === CONTACT Section === */
.contact {
    height: 90vh;
    background-color: #779fbb;
}
.contact-heading {
    width: 70%;
    margin: auto;
    position: relative;
    top: -7rem;
}
.contact-get {
    font-size: 1.5rem;
}
.contact-container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -7rem;
}
.contact-form {
    width: 70%;
    display: flex;
}
.form {
    width: 100%;
}
.contact-row {
    margin: auto;
    display: flex;
}
.contact-row input, .contact-row select {
    width: 50%;
}
.contact-row #email, .contact-row #company, .contact-row #budget {
    margin-left: 1rem;
}
.contact-row input::placeholder, .title-message input::placeholder, .title-message textarea::placeholder {
    padding-left: .2rem;
}
.contact-row input, .contact-row select {
    width: 100%;
    height: 2.2rem;
    margin: .5rem 0;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 1rem;
    font-weight: 600;
}
.title-message {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -1rem;
}
.title-message input {
    width: 100%;
    height: 2rem;
    margin: 2rem 0;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 1rem;
    font-weight: 600;
}
.title-message textarea {
    height: 9rem;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 1.2rem;
    font-weight: 600;
    
}
.form .submit {
    margin: 1rem 0;
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
}
.submit input {
    width: 10rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 25px;
    border: none;
    background-color: #000957;
    color: #f2f2f2;
}
.submit input:hover {
    background-color: #577BC1;
    color: #000957;
    box-shadow: -3px 3px 5px 3px #385772;
    cursor: pointer;
}
.contact-details {
    width: 28%;
}
.contact-details .contact-infos {
    margin: .5rem 0;
    text-transform: capitalize;
    font-size: 1.5rem;
}
.email-phone, .address, .bizhours {
    font-size: 1.2rem;
    line-height: 1.6rem;
}
.email-phone a {
    text-decoration: none;
    color: #232323;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .contact-heading {
        width: 80%;
    }
    .contact-container {
        width: 80%;
    }
    .contact-details .contact-infos {
        font-size: 1.4rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .contact-heading {
        width: 75%;
    }
    .contact-get {
        font-size: 1.4rem;
    }
    .contact-container {
        width: 75%;
    }
    .contact-row input, .contact-row select {
        font-size: 1rem;
        font-weight: 600;
    }
    .title-message input {
        font-size: 1rem;
        font-weight: 600;
    }
    .title-message textarea {
        font-size: 1.2rem;
        font-weight: 600;
    }
    .submit input {
        width: 9rem;
    }
    .contact-details .contact-infos {
        font-size: 1.3rem;
    }
    .email-phone, .address, .bizhours {
        font-size: 1rem;
        line-height: 1.4rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .contact {
        height: 130vh;
    }
    .contact-heading {
        width: 70%;
    }
    .contact-get {
        font-size: 1.4rem;
    }
    .contact-container {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    .contact-form {
        width: 100%;
    }
    .contact-row input, .contact-row select {
        font-size: .9rem;
        font-weight: 600;
    }
    .title-message input {
        font-size: .9rem;
        font-weight: 600;
    }
    .title-message textarea {
        font-size: 1.1rem;
        font-weight: 600;
    }
    .submit input {
        width: 8rem;
        font-size: 1rem;
    }
    .contact-details {
        width: 100%;
    }
    .contact-details .contact-infos {
        margin: 1rem 0;
        font-size: 1.1rem;
    }
    .email-phone, .address, .bizhours {
        font-size: 1rem;
        line-height: 1.4rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .contact {
        height: 130vh;
    }
    .contact-heading {
        width: 70%;
    }
    .contact-get {
        font-size: 1.2rem;
    }
    .contact-container {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    .contact-form {
        width: 100%;
    }
    .contact-row input, .contact-row select {
        font-size: .8rem;
        font-weight: 600;
    }
    .title-message input {
        font-size: .8rem;
        font-weight: 600;
    }
    .title-message textarea {
        font-size: 1rem;
        font-weight: 600;
    }
    .submit input {
        width: 8rem;
        font-size: 1rem;
    }
    .contact-details {
        width: 100%;
    }
    .contact-details .contact-infos {
        margin: 1rem 0;
        font-size: 1.1rem;
    }
    .email-phone, .address, .bizhours {
        font-size: 1rem;
        line-height: 1.4rem;
    }
}

@media (min-width: 480px) and (max-width: 575.98px) {
    .contact {
        height: 130vh;
    }
    .contact-heading {
        width: 70%;
    }
    .contact-get {
        font-size: 1rem;
    }
    .contact-container {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    .contact-form {
        width: 100%;
    }
    .contact-row input, .contact-row select {
        font-size: .8rem;
        font-weight: 600;
    }
    .title-message input {
        font-size: .8rem;
        font-weight: 600;
    }
    .title-message textarea {
        font-size: 1rem;
        font-weight: 600;
    }
    .submit input {
        width: 8rem;
        font-size: .8rem;
    }
    .contact-details {
        width: 100%;
    }
    .contact-details .contact-infos {
        margin: 1rem 0;
        font-size: 1.1rem;
    }
    .email-phone, .address, .bizhours {
        font-size: 1rem;
        line-height: 1.3rem;
    }
}
/* === End CONTACT Section === */

/* === FOOTER Section === */
.footer {
    height: 12vh;
    background-color: #8eb4d4;
}
.footer-line {
    margin: auto;
    padding-top: 2rem;
    width: 75%;
    border: none;
    border-bottom: 2px solid #545555;
    opacity: .3;
}
.copy-socials {
    width: 75%;
    margin: 1.2rem auto;
    display: flex;
    justify-content: space-between;
}
.copy {
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: .1rem;
}
.socials {
    width: 12%;
    display: flex;
    justify-content: space-between;
}
.social-icon img {
    height: 2rem;
    margin-top: .3rem;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .footer-line {
        width: 80%;
    }
    .copy-socials {
    width: 80%;
    }
    .socials {
    width: 12%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .footer-line {
        width: 75%;
    }
    .copy-socials {
    width: 75%;
    }
    .socials {
    width: 15%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .footer-line {
        width: 70%;
    }
    .copy-socials {
        width: 70%;
    }
    .copy {
        font-size: .75rem;
    }
    .socials {
        width: 18%;
    }
    .social-icon img {
        height: 1.8rem;
        margin-top: .35rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .footer-line {
        width: 70%;
    }
    .copy-socials {
        width: 70%;
    }
    .copy {
        font-size: .68rem;
    }
    .socials {
        width: 23%;
    }
    .social-icon img {
        height: 1.6rem;
        margin-top: .3rem;
    }
}

@media (min-width: 480px) and (max-width: 575.98px) {
    .footer-line {
        width: 70%;
    }
    .copy-socials {
        width: 70%;
    }
    .copy {
        font-size: .6rem;
        line-height: 1.2rem;
    }
    .socials {
        width: 30%;
    }
    .social-icon img {
        height: 1.6rem;
        margin-top: .3rem;
    }    
}
/* === End FOOTER Section === */